.addUser-content{

    text-align: center;
    

    form{

        border: 1px black dotted;
        padding: 10px;
        width:60%;
        margin: 20px auto;
        border-radius: 20px;
        background-color: rgba(202, 197, 197,0.3);
        display:block;
        width:70%;
        max-width: 400px;

        input, .btn{
            margin-bottom:15px;
            width:80%;
            border-radius: 7px;
            border: green;

        }

        .gender-content{

            display: flex;
            justify-content: space-between;
            width:40%;
            max-width: 120px;
            margin-left: auto;
            margin-right: auto;


            .gender{
                display: flex;
                align-items: center;
                flex-direction: row;

                .input-radio{
                    width: auto;
                    margin:0;

                }
            }

        }

        .header{
            font-style: italic;
        }

        .btn{
            margin-top: 20px;
        }
    }
}

@media(max-width: 530px){

    .addUser-content{
        form{
            font-size: 12px;

            .btn{
                font-size: 90%;
            }

            .header{
                font-size: 18px;
            }
        }
    }

}