.todos-wrapper{

    .todo-header{

        margin-bottom: 10px;
        font-weight: bold;

        .todo-rest-headers{
            
            .header{
                border-left: 0.5px solid black;
            }
        }
    }

}