.todos-wrapper{

    text-align: center;
    

    .todo-header, .todo-list{

        display: grid;
        grid-template-columns: 2fr 7fr;
        

        .todo-title{
            padding-left: 5px;
        }

    }

    .todo-rest-headers, .todo-rest-info{

        display: grid;
        grid-template-columns: 4fr  2fr 1fr ;
    }
    
}

